<!-- method="POST" used for updating data in server -->
<form action="{% url 'polls:vote' question.id %}" mehod="POST">
    <!-- ALL POST forms with URLs within your site should use csrf_token -->
    {% csrf_token %}
<fieldset>
    <legend>
        <h1> {{ question.question_text }}</h1>
    </legend>
    {% if error_message %}
    <p><strong>{{ erro_message }}</strong></p>
    {% endif %}
    {% for choice in question.choice_set.all %}
    <div>
        <!-- Post send choice=#(selected id) -->
        <!-- forloop.counter is value indicating how many times has been executed -->
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for ="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>